body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    background: url('../img/bcg-pirates7.jpg') 50% 0 no-repeat fixed;
    background-size: cover;
}

table {
    margin: auto;
}

td {
    height: 30px;
    width: 30px;
    border-radius: 15%;
    background-color: rgb(196, 195, 195);
}

.title-container {
    /* font-family: 'Modak', cursive; */
    font-family: 'Erica One', cursive;
    font-size: 70px;
    color: rgb(14, 61, 94);
    text-shadow: 2px 2px #C4C3C3;
}

.cell-not-shown {
    background-color: grey;
    transition: 0.2s;
}

td .cell-not-shown :hover {
    color: rgb(196, 195, 195);
}

.data-container-1 {
    font-family: 'Erica One', cursive;
    text-shadow: -5px 0 white, 0 5px white, 5px 0 white, 0 -5px white;
    margin-left: 10%;
    padding: 0px;
    overflow: hidden;
    width: 800%;
    white-space: nowrap;
}

.data-container-1>div {
    width: 200px;
    height: 100px;
    float: left;
    margin: 0 20px 0;
    font-size: 40px;
}

.stopwatch, .best-score {
    color: black;
    font-size: 50px;
}

.mines-remained {
    color: black;
    font-size: 50px;
    float: left;
}

.game-state-indicator {
    color: black;
    font-size: 50px;
    float: left;
    text-align: center;
}

.game-state-indicator img {
    height: 90px;
}

/* second dashboard row: */

.data-container-2 {
    margin-left: 14%;
    padding: 0px;
    overflow: hidden;
    width: 800%;
    white-space: nowrap;
}

.data-container-2>div {
    width: 200px;
    height: 100px;
    float: left;
    margin: 0 80px 0;
    font-size: 40px;
}

.hints-remained img {
    height: 70px;
}

.hints-remained img:hover {
    background: radial-gradient(#FEC108, transparent);
}

.hearts-remained, .hints-remained, .game-levels, .safe-click {
    width: 20%;
    text-align: center;
}

/* game table: */

.blown-mine {
    background-color: rgb(216, 57, 57);
}

/* buttons */

.game-button {
    position: relative;
    top: 0;
    cursor: pointer;
    text-decoration: none !important;
    outline: none !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    line-height: auto;
    letter-spacing: auto;
    text-shadow: 2px 2px 1px #0066a2, -2px 2px 1px #0066a2, 2px -2px 1px #0066a2, -2px -2px 1px #0066a2, 0px 2px 1px #0066a2, 0px -2px 1px #0066a2, 0px 4px 1px #004a87, 2px 4px 1px #004a87, -2px 4px 1px #004a87;
    border: none;
    margin: 0px;
    background: repeating-linear-gradient( 45deg, #3ebbf7, #3ebbf7 5px, #45b1f4 5px, #45b1f4 10px);
    border-bottom: 3px solid rgba(16, 91, 146, 0.5);
    border-top: 3px solid rgba(255, 255, 255, .3);
    color: #fff !important;
    border-radius: 8px;
    padding: 8px 15px 10px;
    box-shadow: 0 6px 0 #266b91, 0 8px 1px 1px rgba(0, 0, 0, .3), 0 10px 0 5px #12517d, 0 12px 0 5px #1a6b9a, 0 15px 0 5px #0c405e, 0 15px 1px 6px rgba(0, 0, 0, .3);
}

.game-button:hover {
    top: 2px;
    box-shadow: 0 4px 0 #266b91, 0 6px 1px 1px rgba(0, 0, 0, .3), 0 8px 0 5px #12517d, 0 10px 0 5px #1a6b9a, 0 13px 0 5px #0c405e, 0 13px 1px 6px rgba(0, 0, 0, .3);
}

.game-button::before {
    content: '';
    height: 10%;
    position: absolute;
    width: 40%;
    background: #fff;
    right: 13%;
    top: -3%;
    border-radius: 99px;
}

.game-button::after {
    content: '';
    height: 10%;
    position: absolute;
    width: 5%;
    background: #fff;
    right: 5%;
    top: -3%;
    border-radius: 99px;
}

.game-button.safe-click-btn {
    background: repeating-linear-gradient( 45deg, #54d440, #54d440 5px, #52cc3f 5px, #52cc3f 10px);
    box-shadow: 0 6px 0 #348628, 0 8px 1px 1px rgba(0, 0, 0, .3), 0 10px 0 5px #2a6d20, 0 12px 0 5px #39822e, 0 15px 0 5px #1d4c16, 0 15px 1px 6px rgba(0, 0, 0, .3);
    border-bottom: 3px solid rgba(40, 117, 29, 0.5);
    text-shadow: 2px 2px 1px #348628, -2px 2px 1px #348628, 2px -2px 1px #348628, -2px -2px 1px #348628, 0px 2px 1px #348628, 0px -2px 1px #348628, 0px 4px 1px #1d4c16, 2px 4px 1px #1d4c16, -2px 4px 1px #1d4c16;
}

.game-button.safe-click-btn:hover {
    top: 2px;
    box-shadow: 0 4px 0 #348628, 0 6px 1px 1px rgba(0, 0, 0, .3), 0 8px 0 5px #2a6d20, 0 10px 0 5px #39822e, 0 13px 0 5px #1d4c16, 0 13px 1px 6px rgba(0, 0, 0, .3);
}
